.slider__wrapper {
  cursor: none;
}

#cursor {
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;

  z-index: 1000;
  transform: translate3d(-50%, -50%, 0)
    translate3d(var(--mouse-x), var(--mouse-y), 0);
}

.slider__wrapper:hover #cursor {
  transform: translate3d(-50%, -50%, 0)
    translate3d(var(--mouse-x), var(--mouse-y), 0);
}

#cursor .cursor__inner {
  width: 110px;
  height: 110px;
  background-color: $true-white;
  color: $black;
  border-radius: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;

  display: grid;
  place-items: center;

  transition: transform 0.3s ease-out;
  transform: scale(0);
  span {
    padding-top: 8px;
  }
}

.slider__wrapper:hover #cursor .cursor__inner {
  transform: scale(1);
}
