@mixin centered-section {
  grid-column: 2;
}

@mixin full-width-section {
  grid-column: 1 / -1;
}

@mixin cta-button {
  padding: 1.5rem 3rem 1.3rem 3rem;
  border: 1px solid $black;
  border-radius: 100px;
  background-color: $aqua;
  color: $black;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    background-color: $black;
    color: $aqua;
  }
}
