// Fonts
$font-family--main: 'Overpass', sans-serif;

$font-size--base: 1.6rem;
$font-size--20: 2rem;
$font-size--30: 3rem;
$font-size--main-heading: 7rem;

$font-weight--black: 900;

// Colors
$white: #fffaf3;
$true-white: #fff;
$black: #2c2c2c;
$grey: #615f5e;
$aqua: #accec8;

// Breakpoints
$phone: 500px;
$tablet: 900px;
$desktop: 1200px;
$desktop-lg-up: 1600px;
